name: Deploy Runner
on:
  workflow_run:
    wirkflows: ["deploy-pages"]
    types:
      -completed

jobs:
  test-runner:
    runs-on:
      - self-hosted
      - x64
    steps:
      - name: Verification
        run: echo "Test de fonctionnement du Runner !"
      - name: tests de commandes
        run: |
          echo "Runner OK"
          hostname
          whoami
          systeminfo | findstr "OS"